In [ ]:
import pandas as pd

In [ ]:
# Get the dataset into a dataframe

column_names = ['transaction_id', 'price', 'date', 'postcode', 'property_type', 'newbuild', 'duration', 'PAON', 'SAON', 'street', 'locality', 'city', 'district', 'county', 'ppd_category_type', 'record_status']
 
df = pd.read_csv("../data/raw/pp-2025_08-05.csv",header=None, names=column_names )

df.head()

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
0,{31C68072-988E-FEE3-E063-4804A8C04F37},320000,2025-02-28 00:00,KT20 5SJ,F,N,L,21,NaN,CORNER FARM CLOSE,NaN,TADWORTH,REIGATE AND BANSTEAD,SURREY,A,A
1,{31C68072-988F-FEE3-E063-4804A8C04F37},423500,2025-02-14 00:00,RH1 3LS,S,N,F,36,NaN,ALBURY ROAD,MERSTHAM,REDHILL,REIGATE AND BANSTEAD,SURREY,A,A
2,{31C68072-9891-FEE3-E063-4804A8C04F37},525000,2025-02-13 00:00,GU18 5AA,D,N,F,20,NaN,CONISTON COURT,NaN,LIGHTWATER,SURREY HEATH,SURREY,A,A
3,{31C68072-9892-FEE3-E063-4804A8C04F37},845000,2025-03-24 00:00,RH1 4JA,D,N,F,NUTFIELD COURT,2,CHURCH HILL,NUTFIELD,REDHILL,TANDRIDGE,SURREY,A,A
4,{31C68072-9893-FEE3-E063-4804A8C04F37},225000,2025-02-24 00:00,GU15 2EH,F,N,L,"BENTLEY COURT, 33",FLAT 3,UPPER GORDON ROAD,NaN,CAMBERLEY,SURREY HEATH,SURREY,A,A

In [ ]:
# Check for null values

df.isna().sum()

transaction_id           0
price                    0
date                     0
postcode                91
property_type            0
newbuild                 0
duration                 0
PAON                     0
SAON                 94660
street                1427
locality             66049
city                     0
district                 0
county                   0
ppd_category_type        0
record_status            0
dtype: int64

In [14]:
# Check for records with missing postcode

df[df['postcode'].isna()]

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
1502,{31C68071-FA9D-FEE3-E063-4804A8C04F37},264825,2025-03-18 00:00,NaN,F,N,L,200,NaN,MILE END ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
4106,{31C68071-F4F3-FEE3-E063-4804A8C04F37},285000,2025-03-04 00:00,NaN,D,N,F,FRIARSFIELD COTTAGE,NaN,BURLEIGH DRIVE,NaN,DERBY,CITY OF DERBY,CITY OF DERBY,A,A
7116,{2F7F2B42-A3F0-E08F-E063-4804A8C05A49},325000,2025-01-31 00:00,NaN,F,N,L,49,FLAT 1,CORONATION ROAD,SOUTHVILLE,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A
10113,{31C68071-C751-FEE3-E063-4804A8C04F37},425000,2025-02-27 00:00,NaN,D,N,F,FIELD VIEW,NaN,CONEYWOOD ROAD,DODDINGTON,MARCH,FENLAND,CAMBRIDGESHIRE,A,A
10768,{31C68072-A57D-FEE3-E063-4804A8C04F37},435000,2025-03-17 00:00,NaN,F,N,L,25,NaN,LOCHABER ROAD,NaN,LONDON,LEWISHAM,GREATER LONDON,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99267,{2F7F2B43-E371-E08F-E063-4804A8C05A49},328200,2025-02-05 00:00,NaN,O,N,F,PLOT 3,NaN,THE STREET,STONHAM ASPAL,STOWMARKET,MID SUFFOLK,SUFFOLK,B,A
99314,{2F7F2B43-D2F2-E08F-E063-4804A8C05A49},100000,2025-02-06 00:00,NaN,O,N,F,SOUTHBROOK WOOD,NaN,NaN,WOODCHURCH,ASHFORD,ASHFORD,KENT,B,A
99576,{2F7F2B43-E399-E08F-E063-4804A8C05A49},237500,2025-01-10 00:00,NaN,O,N,L,PRINCESS MEWS,GARAGE 142,NaN,WELLINGTON,TELFORD,WREKIN,WREKIN,B,A
102148,{2F7F2B43-61B5-E08F-E063-4804A8C05A49},522500,2025-01-03 00:00,NaN,S,N,F,BEARSHAY FARM,PLOT 3,NaN,NaN,LICHFIELD,LICHFIELD,STAFFORDSHIRE,A,A
102264,{2F7F2B42-AA7B-E08F-E063-4804A8C05A49},2350000,2025-01-10 00:00,NaN,F,N,L,30,FLAT C,STANHOPE GARDENS,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON,A,A

In [ ]:
# Check for missing postcode and missing street

df[(df['postcode'].isna()) & (df['street'].isna())]

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
12049,{31C68072-E88C-FEE3-E063-4804A8C04F37},100000,2025-03-10 00:00,NaN,O,N,F,VILJA LODGE,PLOT 1,NaN,LLANDISSILIO,CLYNDERWEN,PEMBROKESHIRE,PEMBROKESHIRE,B,A
12563,{31C68072-E8CD-FEE3-E063-4804A8C04F37},43000,2025-01-31 00:00,NaN,O,N,F,GARAGE AT,NaN,NaN,TORCROSS,KINGSBRIDGE,SOUTH HAMS,DEVON,B,A
33198,{31C68073-057A-FEE3-E063-4804A8C04F37},150000,2025-02-21 00:00,NaN,O,N,F,GRIGGY COPPICE,NaN,NaN,SHAWBURY,SHREWSBURY,SHROPSHIRE,SHROPSHIRE,B,A
48423,{2F7F2B43-C7D9-E08F-E063-4804A8C05A49},400000,2025-02-07 00:00,NaN,O,N,F,STICKLEPATH FARM,NaN,NaN,NaN,BARNSTAPLE,NORTH DEVON,DEVON,B,A
51487,{2F7F2B43-5511-E08F-E063-4804A8C05A49},337500,2025-01-24 00:00,NaN,D,N,F,HILLTOP,NaN,NaN,HIPSWELL,CATTERICK GARRISON,NORTH YORKSHIRE,NORTH YORKSHIRE,A,A
56548,{2F7F2B43-56FA-E08F-E063-4804A8C05A49},300750,2025-01-20 00:00,NaN,D,N,F,PRESTON MILL BARN,NaN,NaN,PRESTON UNDER SCAR,LEYBURN,NORTH YORKSHIRE,NORTH YORKSHIRE,A,A
69827,{2F7F2B43-CED7-E08F-E063-4804A8C05A49},2173500,2025-01-31 00:00,NaN,O,N,F,WHARF MEADOW,NaN,NaN,AWRE,NEWNHAM,FOREST OF DEAN,GLOUCESTERSHIRE,B,A
70839,{31C68073-01B4-FEE3-E063-4804A8C04F37},42500,2025-03-07 00:00,NaN,O,N,F,ST ANDREW'S CHURCH,NaN,NaN,GREAT FENCOTE,NORTHALLERTON,NORTH YORKSHIRE,NORTH YORKSHIRE,B,A
71392,{31C68072-F151-FEE3-E063-4804A8C04F37},24750,2025-02-20 00:00,NaN,O,N,F,FISHERY 1,NaN,NaN,HOARWITHY,HEREFORD,HEREFORDSHIRE,HEREFORDSHIRE,B,A
72560,{31C68072-ED21-FEE3-E063-4804A8C04F37},750000,2025-01-07 00:00,NaN,O,N,F,FLETCHING GARAGE,NaN,NaN,FLETCHING,UCKFIELD,WEALDEN,EAST SUSSEX,B,A
75225,{2D4D7609-F91F-BDF9-E063-4804A8C0672F},550000,2025-01-06 00:00,NaN,O,N,F,NORTH WOOD,NaN,NaN,NaN,PULBOROUGH,HORSHAM,WEST SUSSEX,B,A
99314,{2F7F2B43-D2F2-E08F-E063-4804A8C05A49},100000,2025-02-06 00:00,NaN,O,N,F,SOUTHBROOK WOOD,NaN,NaN,WOODCHURCH,ASHFORD,ASHFORD,KENT,B,A
99576,{2F7F2B43-E399-E08F-E063-4804A8C05A49},237500,2025-01-10 00:00,NaN,O,N,L,PRINCESS MEWS,GARAGE 142,NaN,WELLINGTON,TELFORD,WREKIN,WREKIN,B,A
102148,{2F7F2B43-61B5-E08F-E063-4804A8C05A49},522500,2025-01-03 00:00,NaN,S,N,F,BEARSHAY FARM,PLOT 3,NaN,NaN,LICHFIELD,LICHFIELD,STAFFORDSHIRE,A,A

In [15]:
# Check for duplicates

df.duplicated().sum()

np.int64(0)

In [16]:
# Check for missing street but with postcode

df[(df['postcode'].notna()) & (df['street'].isna())]

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
115,{31C68072-95AE-FEE3-E063-4804A8C04F37},482000,2025-03-20 00:00,GU7 2EG,T,N,F,4 WOODCOTE,NaN,NaN,NaN,GODALMING,WAVERLEY,SURREY,A,A
494,{31C68072-9332-FEE3-E063-4804A8C04F37},700000,2025-03-18 00:00,GU28 9HW,D,N,F,WALNUT COTTAGE,NaN,NaN,NORTHCHAPEL,PETWORTH,CHICHESTER,WEST SUSSEX,A,A
526,{31C68072-965A-FEE3-E063-4804A8C04F37},1825000,2025-02-14 00:00,GU4 8RD,D,N,F,ASTON COTTAGE,NaN,NaN,BLACKHEATH,GUILDFORD,GUILDFORD,SURREY,A,A
1671,{31C68071-F3D6-FEE3-E063-4804A8C04F37},550000,2025-03-14 00:00,SK23 9UX,D,N,F,LOWCROSS,NaN,NaN,COMBS,HIGH PEAK,HIGH PEAK,DERBYSHIRE,A,A
1892,{31C68071-F088-FEE3-E063-4804A8C04F37},230000,2025-03-07 00:00,DH7 0EH,T,N,L,WOODHAM COURT,18,NaN,LANCHESTER,DURHAM,COUNTY DURHAM,COUNTY DURHAM,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105254,{2F7F2B43-5BFD-E08F-E063-4804A8C05A49},377583,2025-01-24 00:00,OX7 5SH,D,N,F,THE BEECHES,NaN,NaN,GREAT ROLLRIGHT,CHIPPING NORTON,WEST OXFORDSHIRE,OXFORDSHIRE,A,A
105383,{2D4D7608-F3F8-BDF9-E063-4804A8C0672F},770000,2025-01-17 00:00,GL20 7BW,D,N,F,MILL FARM,WEST BARN,NaN,TREDINGTON,TEWKESBURY,TEWKESBURY,GLOUCESTERSHIRE,A,A
105474,{2F7F2B43-4CCD-E08F-E063-4804A8C05A49},372000,2025-01-30 00:00,NN14 3AA,S,N,F,49,NaN,NaN,GRAFTON UNDERWOOD,KETTERING,NORTH NORTHAMPTONSHIRE,NORTH NORTHAMPTONSHIRE,A,A
105498,{2D4D7608-F450-BDF9-E063-4804A8C0672F},3425000,2025-01-10 00:00,GL6 7AR,D,N,F,DERRYARDS FARM,NaN,NaN,BISLEY,STROUD,STROUD,GLOUCESTERSHIRE,A,A
105877,{2D4D7609-5774-BDF9-E063-4804A8C0672F},430000,2025-01-13 00:00,BD23 3TJ,S,N,F,THORNTON MANOR COURT,5,NaN,THORNTON IN CRAVEN,SKIPTON,NORTH YORKSHIRE,NORTH YORKSHIRE,A,A