In [2]:
import pandas as pd

In [3]:
# Get the dataset into a dataframe

column_names = ['transaction_id', 'price', 'date', 'postcode', 'property_type', 'newbuild', 'duration', 'PAON', 'SAON', 'street', 'locality', 'city', 'district', 'county', 'ppd_category_type', 'record_status']
 
df = pd.read_csv("../data/raw/pp-2025_08-05.csv",header=None, names=column_names )

df.head()

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
0,{31C68072-988E-FEE3-E063-4804A8C04F37},320000,2025-02-28 00:00,KT20 5SJ,F,N,L,21,NaN,CORNER FARM CLOSE,NaN,TADWORTH,REIGATE AND BANSTEAD,SURREY,A,A
1,{31C68072-988F-FEE3-E063-4804A8C04F37},423500,2025-02-14 00:00,RH1 3LS,S,N,F,36,NaN,ALBURY ROAD,MERSTHAM,REDHILL,REIGATE AND BANSTEAD,SURREY,A,A
2,{31C68072-9891-FEE3-E063-4804A8C04F37},525000,2025-02-13 00:00,GU18 5AA,D,N,F,20,NaN,CONISTON COURT,NaN,LIGHTWATER,SURREY HEATH,SURREY,A,A
3,{31C68072-9892-FEE3-E063-4804A8C04F37},845000,2025-03-24 00:00,RH1 4JA,D,N,F,NUTFIELD COURT,2,CHURCH HILL,NUTFIELD,REDHILL,TANDRIDGE,SURREY,A,A
4,{31C68072-9893-FEE3-E063-4804A8C04F37},225000,2025-02-24 00:00,GU15 2EH,F,N,L,"BENTLEY COURT, 33",FLAT 3,UPPER GORDON ROAD,NaN,CAMBERLEY,SURREY HEATH,SURREY,A,A

In [4]:
# Check for null values

df.isna().sum()

transaction_id           0
price                    0
date                     0
postcode                91
property_type            0
newbuild                 0
duration                 0
PAON                     0
SAON                 94660
street                1427
locality             66049
city                     0
district                 0
county                   0
ppd_category_type        0
record_status            0
dtype: int64

In [6]:
# Check for records with missing postcode

missing_postcode = df[df['postcode'].isna()]
missing_postcode.head()

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
1502,{31C68071-FA9D-FEE3-E063-4804A8C04F37},264825,2025-03-18 00:00,NaN,F,N,L,200,NaN,MILE END ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
4106,{31C68071-F4F3-FEE3-E063-4804A8C04F37},285000,2025-03-04 00:00,NaN,D,N,F,FRIARSFIELD COTTAGE,NaN,BURLEIGH DRIVE,NaN,DERBY,CITY OF DERBY,CITY OF DERBY,A,A
7116,{2F7F2B42-A3F0-E08F-E063-4804A8C05A49},325000,2025-01-31 00:00,NaN,F,N,L,49,FLAT 1,CORONATION ROAD,SOUTHVILLE,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A
10113,{31C68071-C751-FEE3-E063-4804A8C04F37},425000,2025-02-27 00:00,NaN,D,N,F,FIELD VIEW,NaN,CONEYWOOD ROAD,DODDINGTON,MARCH,FENLAND,CAMBRIDGESHIRE,A,A
10768,{31C68072-A57D-FEE3-E063-4804A8C04F37},435000,2025-03-17 00:00,NaN,F,N,L,25,NaN,LOCHABER ROAD,NaN,LONDON,LEWISHAM,GREATER LONDON,A,A

In [7]:
# Check for missing postcode and missing street

missing_postcode_and_street = df[(df['postcode'].isna()) & (df['street'].isna())]  
missing_postcode_and_street.head()

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
12049,{31C68072-E88C-FEE3-E063-4804A8C04F37},100000,2025-03-10 00:00,NaN,O,N,F,VILJA LODGE,PLOT 1,NaN,LLANDISSILIO,CLYNDERWEN,PEMBROKESHIRE,PEMBROKESHIRE,B,A
12563,{31C68072-E8CD-FEE3-E063-4804A8C04F37},43000,2025-01-31 00:00,NaN,O,N,F,GARAGE AT,NaN,NaN,TORCROSS,KINGSBRIDGE,SOUTH HAMS,DEVON,B,A
33198,{31C68073-057A-FEE3-E063-4804A8C04F37},150000,2025-02-21 00:00,NaN,O,N,F,GRIGGY COPPICE,NaN,NaN,SHAWBURY,SHREWSBURY,SHROPSHIRE,SHROPSHIRE,B,A
48423,{2F7F2B43-C7D9-E08F-E063-4804A8C05A49},400000,2025-02-07 00:00,NaN,O,N,F,STICKLEPATH FARM,NaN,NaN,NaN,BARNSTAPLE,NORTH DEVON,DEVON,B,A
51487,{2F7F2B43-5511-E08F-E063-4804A8C05A49},337500,2025-01-24 00:00,NaN,D,N,F,HILLTOP,NaN,NaN,HIPSWELL,CATTERICK GARRISON,NORTH YORKSHIRE,NORTH YORKSHIRE,A,A

In [8]:
# Check for duplicates

df.duplicated().sum()

np.int64(0)

In [9]:
# Check for missing street but with postcode

missing_street_with_postcode = df[(df['postcode'].notna()) & (df['street'].isna())]  
missing_street_with_postcode.head()

,transaction_id,price,date,postcode,property_type,newbuild,duration,PAON,SAON,street,locality,city,district,county,ppd_category_type,record_status
115,{31C68072-95AE-FEE3-E063-4804A8C04F37},482000,2025-03-20 00:00,GU7 2EG,T,N,F,4 WOODCOTE,NaN,NaN,NaN,GODALMING,WAVERLEY,SURREY,A,A
494,{31C68072-9332-FEE3-E063-4804A8C04F37},700000,2025-03-18 00:00,GU28 9HW,D,N,F,WALNUT COTTAGE,NaN,NaN,NORTHCHAPEL,PETWORTH,CHICHESTER,WEST SUSSEX,A,A
526,{31C68072-965A-FEE3-E063-4804A8C04F37},1825000,2025-02-14 00:00,GU4 8RD,D,N,F,ASTON COTTAGE,NaN,NaN,BLACKHEATH,GUILDFORD,GUILDFORD,SURREY,A,A
1671,{31C68071-F3D6-FEE3-E063-4804A8C04F37},550000,2025-03-14 00:00,SK23 9UX,D,N,F,LOWCROSS,NaN,NaN,COMBS,HIGH PEAK,HIGH PEAK,DERBYSHIRE,A,A
1892,{31C68071-F088-FEE3-E063-4804A8C04F37},230000,2025-03-07 00:00,DH7 0EH,T,N,L,WOODHAM COURT,18,NaN,LANCHESTER,DURHAM,COUNTY DURHAM,COUNTY DURHAM,A,A

In [29]:
# Parse the dates to check if all are well formatted. 

df['date'] = pd.to_datetime(df['date'], errors='coerce')


print(df['date'].isna().sum())

df['date'].head()

0

0   2025-02-28
1   2025-02-14
2   2025-02-13
3   2025-03-24
4   2025-02-24
Name: date, dtype: datetime64[ns]